{% extends 'base.html' %}
{% load static %}

{% block title %} {{ post.title }} : {{ block.super }} {% endblock %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                <div class="border-top">
                    <div class="col-md-8">
                    <div class="blog-area">
                        <div class="blog-area-part">
                            <h2>{{ post.title }}</h2>
                                <p>Category: <a class="tags" href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></p>
                            {% if post.tag.exists %}
                            <div class="tags">
                                {% for item in post.tag.all %}
                                    <p><a class="tags" href="{{ item.get_absolute_url }}">{{ item.title }}</a></p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <span> Views: {{ post.views }}</span>
                            {% if post.photo %}
                                <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                            {% else %}
                                <img src="{% static 'img/post-image9.jpg' %}" alt="{{ post.title }}">
                            {% endif %}
                            <div class="for-style">
                                {{ post.content|safe }}
                            </div>
                        </div>
                        <form action="#" method="get">
                            <div class="name">
                                <input type="text" name="" id="" placeholder="Name" class="name">
                            </div>
                            <div class="email">
                                <input type="email" name="" id="" placeholder="Email" class="email">
                            </div>
                            <div class="comment">
                                <input type="text" name="" id="" placeholder="Comment" class="comment">
                            </div>
                            <div class="post">
                                <input type="submit" value="Post">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    {% include 'inc/_sidebar.html' %}
                </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}